<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wa.dev.edukasikomputer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EdukasiKomputer">
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.PenaElektronik"></activity>
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.YT_mic" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.TouchYoutube" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.YoutubeMouse" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.Yutubquerty" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatKeluaran.PrinterAct" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatKeluaran.MonitorAct" />
        <activity android:name=".BelajarKomputer.DefinisiKomputer.SejarahPenemuanKomputer" />
        <activity android:name=".BelajarKomputer.SistemKomputer.SistemKomputer" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.PerangkatProses" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatKeluaran.PerangkatKeluaran" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.PerangkatMasukan" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.HardwareKomputer" />
        <activity android:name=".About" />
        <activity android:name=".BelajarKomputer.DefinisiKomputer.DefinisiKomputer" />
        <activity android:name=".BelajarKomputer.DefinisiKomputer.DefinisiKomputerMenurutAhli" />
        <activity android:name=".MenuKe2" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>