<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wa.dev.edukasikomputer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_kon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_apk"
        android:supportsRtl="true"
        android:theme="@style/Theme.EdukasiKomputer">
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.YtJoystick"></activity>
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.JoystickAct" />
        <activity android:name=".BelajarKomputer.SistemKomputer.NextSistemKomputer" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.VGA_Act" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.Storage_Act" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.RAM_Act" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.PSU_Act" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.ProcessorAct" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.MotherboardAct" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.CDROMAct" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.TouchPadAct" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.PenaAct" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.MouseAct" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.MicAct" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.KeyboardAct" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatKeluaran.SpeakerAct" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatKeluaran.ProjectorAct" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatKeluaran.PrinterAct" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatKeluaran.MonitorAct" />
        <activity android:name=".BelajarKomputer.DefinisiKomputer.PengertianKomputer" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.YTRAM" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.YTStorage" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.YTVGA" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.YTPSU" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.YTCDROM" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.YTProsesor" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.YTMotherboard" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatKeluaran.YTProjektor" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatKeluaran.YTSpeaker" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatKeluaran.YTPrinter" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatKeluaran.YTMonitor" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.PenaElektronik" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.YT_mic" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.TouchYoutube" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.YoutubeMouse" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.Yutubquerty" />
        <activity android:name=".BelajarKomputer.DefinisiKomputer.SejarahPenemuanKomputer" />
        <activity android:name=".BelajarKomputer.SistemKomputer.SistemKomputer" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatProses.PerangkatProses" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatKeluaran.PerangkatKeluaran" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.PerangkatMasukan.PerangkatMasukan" />
        <activity android:name=".BelajarKomputer.HardwareKomputer.HardwareKomputer" />
        <activity android:name=".About" />
        <activity android:name=".BelajarKomputer.DefinisiKomputer.DefinisiKomputer" />
        <activity android:name=".BelajarKomputer.DefinisiKomputer.DefinisiKomputerMenurutAhli" />
        <activity android:name=".MenuKe2" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>